@page
@using RestaurantClass;
@model ASP_NET_HW_Module_01_part_01.Pages.ZAD3Model
@{
    ViewData["Title"] = "Exercise #3";
	List<Restaurant> rests = new List<Restaurant>() 
	{
		new Restaurant() {Name = "Restaurant #1",Rating=9.31F,Owner="Owner1"},
		new Restaurant() {Name = "Restaurant #2",Rating=8.31F,Owner="Owner2"},
		new Restaurant() {Name = "Restaurant #3",Rating=1.11F,Owner="Owner3"},
		new Restaurant() {Name = "Restaurant #4",Rating=2.65F,Owner="Owner4"},
	};
}
<style>
    table {
        width: 100%;
        border-collapse: collapse;
    }

    table, th, td {
        border: 1px solid black;
        padding: 8px;
    }

    th {
        background-color: #f2f2f2;
    }
</style>
<p style="font-size:30px"></p>
<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Rating</th>
            <th>Owner</th>
        </tr>
    </thead>
    <tbody id="Rests">
    </tbody>
</table>

<script>
    var rests = @(Json.Serialize(rests));
    console.log(rests);
    const RestTable = document.getElementById('Rests');
    RestTable.innerHTML = '';
    rests.forEach(rest => 
    {
        const row = document.createElement('tr');
        row.innerHTML = `
                            <td>${rest.name}</td>
                            <td>${rest.rating}</td>
                            <td>${rest.owner}</td>
                        `;
        RestTable.appendChild(row);
    });
</script>