@page
@model ASP_NET_HW_Module_01_part_01.Pages.ZAD5Model
@{

}

<style>
    .flag {
        max-width: 295px;
        max-height: 170px;
        display: inline-block;
        overflow: hidden;
        margin: 0;
    }

        .flag img {
            max-width: 100%;
            max-height: 100%;
            object-fit: cover;
        }

    .container1 {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        margin: 5px;
        max-width: 292px;
        max-height: 220px;
        position: relative;
        text-align: center;
        border: 2px solid black;
    }

        .container1 p {
            text-align: center;
            text-align: bottom;
            margin: 0;
        }

    .box {
        background-color: lightgray;
        margin-top: 20vw;
        margin-left: 20vw;
        display: flex;
        flex-wrap: wrap;
        max-width: 1230px;
    }

</style>
<body>
    <div class="box">
        <div class="container1">
            <a href="https://www.example.com">
                <div class="flag">
                    <img src="https://million-wallpapers.ru/wallpapers/0/29/437188978007995/nacionalnye-flagi-raznyx-stran-patriotizm.jpg"></img>
                </div>
                <p>Spain</p>
            </a>
        </div>

        <div class="container1">
            <a href="https://www.example.com">
                <div class="flag">
                    <img src="https://t3.ftcdn.net/jpg/00/81/92/68/360_F_81926897_pyI1VdwXG9FsH8cTRJILOQn3t3mi2mzh.jpg"></img>
                </div>
                <p>Mexico</p>
            </a>
        </div>


        <div class="container1">
            <a href="https://www.example.com">
                <div class="flag">
                    <img src="https://static.vecteezy.com/system/resources/previews/002/735/168/non_2x/italy-flag-symbol-flat-with-gradient-color-free-vector.jpg"></img>
                </div>
                <p>Italy</p>
            </a>
        </div>

        <div class="container1">
            <a href="https://www.example.com">
                <div class="flag">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/a/a4/Flag_of_the_United_States.svg"></img>
                </div>
                <p>USA</p>
            </a>
        </div>

        <div class="container1">
            <a href="https://www.example.com">
                <div class="flag">
                    <img src="https://media.istockphoto.com/id/934017954/vector/canada-flag.jpg?s=612x612&w=0&k=20&c=QYOJlgWtujlAPzncX5H4UFPDpySMhoh2iPc_zi2t_zQ="></img>
                </div>
                <p>Canada</p>
            </a>
        </div>

        <div class="container1">
            <a href="https://www.example.com">
                <div class="flag">
                    <img src="https://upload.wikimedia.org/wikipedia/en/thumb/0/05/Flag_of_Brazil.svg/1280px-Flag_of_Brazil.svg.png"></img>
                </div>
                <p>Brazil</p>
            </a>
        </div>

        <div class="container1">
            <a href="https://www.example.com">
                <div class="flag">
                    <img src="https://cdn.pixabay.com/photo/2013/07/13/14/15/germany-162301_640.png"></img>
                </div>
                <p>Germany</p>
            </a>
        </div>

    </div>
</body>